<a href="https://colab.research.google.com/github/jesuspablo888/daa_2021_1/blob/master/26_Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def ejemplo10( n ):
  count = 0
  for i in range( n ) :
    for j in range( i ) :
      count += 1
  return count
print(ejemplo10(5))
# T(n) = 1+ [(n^2)/ 2]
"""
n= 3
000
n00 <-- aqui empieza el for interno
nn0 <--- aqui termina el for interno
nnn
n = 4
0000
n000 <-- aqui empieza el for interno
nn00
nnn0 <--- aqui termina el for interno
nnnn

n =5
00000
n0000 <-- aqui empieza el for interno
nn000
nnn00
nnnn0 <--- aqui termina el for interno
nnnnn
"""

10

'\nn= 3\n000\nn00 <-- aqui empieza el for interno\nnn0 <--- aqui termina el for interno\nnnn\nn = 4\n0000\nn000 <-- aqui empieza el for interno\nnn00\nnnn0 <--- aqui termina el for interno\nnnnn\n\nn =5\n00000\nn0000 <-- aqui empieza el for interno\nnn000\nnnn00\nnnnn0 <--- aqui termina el for interno\nnnnnn\n'

In [3]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

4

In [ ]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
    return contador
    #T(n): 1+n(2+2log2(n))
def ejemplo12_bis( n=5 ):
  contador = 0
  contador = contador + ejemplo11(0) # 0
  contador = contador + ejemplo11(1) # 0
  contador = contador + ejemplo11(2) # 1
  contador = contador + ejemplo11(3) # 1
  contador = contador + ejemplo11(4) # 2
  return contador
ejemplo12_bis( 5 )

In [ ]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3  # 1
        contador += 1  # cont =3
    
    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))
#T(n): 3+log3(n)+Log3(n)

In [ ]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))
#1+n^2+2log2(n)